<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Note Keeper</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css/">
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="{% url 'NoteKeeper:index' %}" class="navbar-item">Go back to Notes</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                  
                </div>
            </div>
        </nav>

        



            
            
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Note Keeper</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'NoteKeeper/style.css' %}">
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="grey lighten-4">
        <nav class="white z-depth-0">
            <div class="container">
                <a class="brand-logo brand-text"> Note Keeper </a>
                <ul id="nav-mobile" class="right hide-on-small-and-down">
                    <li><a href="{% url 'NoteKeeper:index' %}" class="btn brand z-depth-0">Go back to Notes</a></li>
                </ul>
            </div>
        </nav>

    {% block main %}
    
    {% endblock %}

    <footer class="section footer center">
        <div class="center grey-text">© 2021 Tarun Tudu</div>
    </footer>

    </body>
</html>